.custom-dropup-menu {
  transform: translateX(4.95rem) !important;
  left: auto !important;
  right: 0;
  margin-bottom: 5rem !important;
  font-size: 3rem !important;
  padding: 0 !important;
}

.custom-dropup-menu .dropdown-item {
  font-size: 1rem !important;
  padding-top: 0 !important;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

hr.dropdown-divider {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

.custom-mobile-dropdown {
  transform: translateX(-8.95rem);
  margin-top: 7.5px !important;
  border-radius: 8px !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

html.light .nav-link.active {
  background-color: #ffca2c !important;
  border-radius: 5px !important;
}

html.light .nav-link:hover:not(.active) {
  background-color: rgb(205, 204, 201) !important;
  border-radius: 5px !important;
}

html.light .nav:hover:not(.active) {
  background-color: transparent !important;
  border-radius: 2px !important;
}

html.light .nav-link svg {
  color: #212529ff !important;
}

html.dark body {
  background-color: #121212;
  color: #f3ededff;
}

html.dark .nav-link.active {
  background-color: #fbc900ff !important;
  color: white !important;
}

html.dark .nav-link:hover:not(.active) {
  background-color: #2c2c2cff !important;
  color: #e0e0e0 !important;
}

html.dark .nav-link svg {
  color: white !important;
}

html.dark .custom-dropup-menu {
  background-color: #222 !important;
  color: #fff !important;
}

html.dark .dropdown-item {
  color: #fff !important;
}

html.dark .dropdown-item:hover {
  background-color: #444 !important;
}

html.light .bottom-nav {
  background-color: #f8f9fa !important;
}

html.dark .bottom-nav {
  background-color: #1c1c1c !important;
}

/* for mobile */
html.light .mobilenav {
  background-color: #ffffff !important;
}
html.dark .mobilenav {
  background-color: #10100f !important;
}
/* end here */


.dropdown-toggle::after {
  display: none !important;
}
